/OAF_back_happy.wav
/OAF_bar_happy.wav
/OAF_base_happy.wav
/OAF_bath_happy.wav
/OAF_bean_happy.wav
/OAF_beg_happy.wav
/OAF_bite_happy.wav
/OAF_boat_happy.wav
/OAF_bone_happy.wav
/OAF_book_happy.wav
/OAF_bought_happy.wav
/OAF_burn_happy.wav
/OAF_cab_happy.wav
/OAF_calm_happy.wav
/OAF_came_happy.wav
/OAF_cause_happy.wav
/OAF_chain_happy.wav
/OAF_chair_happy.wav
/OAF_chalk_happy.wav
/OAF_chat_happy.wav
/OAF_check_happy.wav
/OAF_cheek_happy.wav
/OAF_chief_happy.wav
/OAF_choice_happy.wav
/OAF_dab_happy.wav
/OAF_dead_happy.wav
/OAF_death_happy.wav
/OAF_deep_happy.wav
/OAF_dime_happy.wav
/OAF_dip_happy.wav
/OAF_ditch_happy.wav
/OAF_dodge_happy.wav
/OAF_doll_happy.wav
/OAF_door_happy.wav
/OAF_fail_happy.wav
/OAF_fall_happy.wav
/OAF_far_happy.wav
/OAF_fat_happy.wav
/OAF_fit_happy.wav
/OAF_five_happy.wav
/OAF_food_happy.wav
/OAF_gap_happy.wav
/OAF_gas_happy.wav
/OAF_gaze_happy.wav
/OAF_germ_happy.wav
/OAF_get_happy.wav
/OAF_gin_happy.wav
/OAF_goal_happy.wav
/OAF_good_happy.wav
/OAF_goose_happy.wav
/OAF_gun_happy.wav
/OAF_half_happy.wav
/OAF_hall_happy.wav
/OAF_hash_happy.wav
/OAF_hate_happy.wav
/OAF_have_happy.wav
/OAF_haze_happy.wav
/OAF_hire_happy.wav
/OAF_hit_happy.wav
/OAF_home_happy.wav
/OAF_hurl_happy.wav
/OAF_hush_happy.wav
/OAF_jar_happy.wav
/OAF_join_happy.wav
/OAF_judge_happy.wav
/OAF_jug_happy.wav
/OAF_juice_happy.wav
/OAF_keen_happy.wav
/OAF_keep_happy.wav
/OAF_keg_happy.wav
/OAF_kill_happy.wav
/OAF_king_happy.wav
/OAF_kite_happy.wav
/OAF_knock_happy.wav
/OAF_late_happy.wav
/OAF_laud_happy.wav
/OAF_lean_happy.wav
/OAF_learn_happy.wav
/OAF_lease_happy.wav
/OAF_lid_happy.wav
/OAF_life_happy.wav
/OAF_limb_happy.wav
/OAF_live_happy.wav
/OAF_loaf_happy.wav
/OAF_long_happy.wav
/OAF_lore_happy.wav
/OAF_lot_happy.wav
/OAF_love_happy.wav
/OAF_luck_happy.wav
/OAF_mess_happy.wav
/OAF_met_happy.wav
/OAF_mill_happy.wav
/OAF_mob_happy.wav
/OAF_mode_happy.wav
/OAF_mood_happy.wav
/OAF_moon_happy.wav
/OAF_mop_happy.wav
/OAF_mouse_happy.wav
/OAF_nag_happy.wav
/OAF_near_happy.wav
/OAF_neat_happy.wav
/OAF_note_happy.wav
/OAF_numb_happy.wav
/OAF_pad_happy.wav
/OAF_page_happy.wav
/OAF_pain_happy.wav
/OAF_pass_happy.wav
/OAF_pearl_happy.wav
/OAF_peg_happy.wav
/OAF_phone_happy.wav
/OAF_pick_happy.wav
/OAF_pike_happy.wav
/OAF_pole_happy.wav
/OAF_pool_happy.wav
/OAF_rag_happy.wav
/OAF_raid_happy.wav
/OAF_rain_happy.wav
/OAF_raise_happy.wav
/OAF_rat_happy.wav
/OAF_reach_happy.wav
/OAF_read_happy.wav
/OAF_red_happy.wav
/OAF_ring_happy.wav
/OAF_ripe_happy.wav
/OAF_road_happy.wav
/OAF_room_happy.wav
/OAF_rose_happy.wav
/OAF_rot_happy.wav
/OAF_rough_happy.wav
/OAF_rush_happy.wav
/OAF_said_happy.wav
/OAF_sail_happy.wav
/OAF_search_happy.wav
/OAF_seize_happy.wav
/OAF_sell_happy.wav
/OAF_shack_happy.wav
/OAF_shall_happy.wav
/OAF_shawl_happy.wav
/OAF_sheep_happy.wav
/OAF_shirt_happy.wav
/OAF_should_happy.wav
/OAF_shout_happy.wav
/OAF_size_happy.wav
/OAF_soap_happy.wav
/OAF_soup_happy.wav
/OAF_sour_happy.wav
/OAF_south_happy.wav
/OAF_sub_happy.wav
/OAF_such_happy.wav
/OAF_sure_happy.wav
/OAF_take_happy.wav
/OAF_talk_happy.wav
/OAF_tape_happy.wav
/OAF_team_happy.wav
/OAF_tell_happy.wav
/OAF_third_happy.wav
/OAF_thought_happy.wav
/OAF_thumb_happy.wav
/OAF_time_happy.wav
/OAF_tip_happy.wav
/OAF_tire_happy.wav
/OAF_ton_happy.wav
/OAF_tool_happy.wav
/OAF_tough_happy.wav
/OAF_turn_happy.wav
/OAF_vine_happy.wav
/OAF_voice_happy.wav
/OAF_void_happy.wav
/OAF_vote_happy.wav
/OAF_wag_happy.wav
/OAF_walk_happy.wav
/OAF_wash_happy.wav
/OAF_week_happy.wav
/OAF_wheat_happy.wav
/OAF_when_happy.wav
/OAF_which_happy.wav
/OAF_whip_happy.wav
/OAF_white_happy.wav
/OAF_wife_happy.wav
/OAF_wire_happy.wav
/OAF_witch_happy.wav
/OAF_yearn_happy.wav
/OAF_yes_happy.wav
/OAF_young_happy.wav
/OAF_youth_happy.wav
