/OAF_back_fear.wav
/OAF_bar_fear.wav
/OAF_base_fear.wav
/OAF_bath_fear.wav
/OAF_beg_fear.wav
/OAF_boat_fear.wav
/OAF_bone_fear.wav
/OAF_book_fear.wav
/OAF_burn_fear.wav
/OAF_cab_fear.wav
/OAF_calm_fear.wav
/OAF_came_fear.wav
/OAF_cause_fear.wav
/OAF_chain_fear.wav
/OAF_chalk_fear.wav
/OAF_chat_fear.wav
/OAF_check_fear.wav
/OAF_cheek_fear.wav
/OAF_chief_fear.wav
/OAF_cool_fear.wav
/OAF_date_fear.wav
/OAF_dead_fear.wav
/OAF_death_fear.wav
/OAF_deep_fear.wav
/OAF_dime_fear.wav
/OAF_dip_fear.wav
/OAF_ditch_fear.wav
/OAF_dodge_fear.wav
/OAF_doll_fear.wav
/OAF_door_fear.wav
/OAF_fall_fear.wav
/OAF_far_fear.wav
/OAF_fat_fear.wav
/OAF_fit_fear.wav
/OAF_five_fear.wav
/OAF_gap_fear.wav
/OAF_gas_fear.wav
/OAF_gaze_fear.wav
/OAF_germ_fear.wav
/OAF_get_fear.wav
/OAF_goal_fear.wav
/OAF_good_fear.wav
/OAF_goose_fear.wav
/OAF_gun_fear.wav
/OAF_hall_fear.wav
/OAF_hash_fear.wav
/OAF_hate_fear.wav
/OAF_have_fear.wav
/OAF_hire_fear.wav
/OAF_hit_fear.wav
/OAF_hush_fear.wav
/OAF_jail_fear.wav
/OAF_join_fear.wav
/OAF_juice_fear.wav
/OAF_keen_fear.wav
/OAF_keep_fear.wav
/OAF_keg_fear.wav
/OAF_kick_fear.wav
/OAF_king_fear.wav
/OAF_kite_fear.wav
/OAF_late_fear.wav
/OAF_laud_fear.wav
/OAF_lean_fear.wav
/OAF_learn_fear.wav
/OAF_lid_fear.wav
/OAF_limb_fear.wav
/OAF_live_fear.wav
/OAF_long_fear.wav
/OAF_lore_fear.wav
/OAF_lose_fear.wav
/OAF_luck_fear.wav
/OAF_make_fear.wav
/OAF_match_fear.wav
/OAF_merge_fear.wav
/OAF_mess_fear.wav
/OAF_met_fear.wav
/OAF_mill_fear.wav
/OAF_mode_fear.wav
/OAF_mood_fear.wav
/OAF_moon_fear.wav
/OAF_mop_fear.wav
/OAF_nag_fear.wav
/OAF_name_fear.wav
/OAF_near_fear.wav
/OAF_neat_fear.wav
/OAF_note_fear.wav
/OAF_numb_fear.wav
/OAF_pad_fear.wav
/OAF_page_fear.wav
/OAF_pain_fear.wav
/OAF_pass_fear.wav
/OAF_peg_fear.wav
/OAF_perch_fear.wav
/OAF_pick_fear.wav
/OAF_pole_fear.wav
/OAF_pool_fear.wav
/OAF_puff_fear.wav
/OAF_rag_fear.wav
/OAF_raise_fear.wav
/OAF_rat_fear.wav
/OAF_reach_fear.wav
/OAF_read_fear.wav
/OAF_red_fear.wav
/OAF_ring_fear.wav
/OAF_ripe_fear.wav
/OAF_rot_fear.wav
/OAF_rush_fear.wav
/OAF_said_fear.wav
/OAF_seize_fear.wav
/OAF_sell_fear.wav
/OAF_shack_fear.wav
/OAF_shall_fear.wav
/OAF_shawl_fear.wav
/OAF_sheep_fear.wav
/OAF_shout_fear.wav
/OAF_size_fear.wav
/OAF_soap_fear.wav
/OAF_soup_fear.wav
/OAF_sour_fear.wav
/OAF_sub_fear.wav
/OAF_such_fear.wav
/OAF_take_fear.wav
/OAF_talk_fear.wav
/OAF_tape_fear.wav
/OAF_team_fear.wav
/OAF_tell_fear.wav
/OAF_thin_fear.wav
/OAF_third_fear.wav
/OAF_thought_fear.wav
/OAF_thumb_fear.wav
/OAF_tire_fear.wav
/OAF_turn_fear.wav
/OAF_vine_fear.wav
/OAF_voice_fear.wav
/OAF_void_fear.wav
/OAF_vote_fear.wav
/OAF_wag_fear.wav
/OAF_walk_fear.wav
/OAF_wash_fear.wav
/OAF_wheat_fear.wav
/OAF_when_fear.wav
/OAF_whip_fear.wav
/OAF_wife_fear.wav
/OAF_wire_fear.wav
/OAF_witch_fear.wav
/OAF_yes_fear.wav
/OAF_youth_fear.wav
